@import '../../components/variables.css';
 
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src:
    local('Gotham Book'),
    local('Gotham-Book'),
    url('/fonts/Gotham-Book.otf') format('opentype');
}
 
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: bold;
  src:
    local('Gotham Medium'),
    local('Gotham-Medium'),
    url('/fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: bolder;
  src:
    local('Gotham Bold'),
    local('Gotham-Bold'),
    url('/fonts/Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 200;
  src:
    local('Gotham Light'),
    local('Gotham-Light'),
    url('/fonts/Gotham-Light.otf') format('opentype');
}

.navItem {
  float: left;
  list-style: none;
  margin-left: 35px;
  margin-top: 55px;
}

.navLink {
  color: #fff;
  font-family: 'Gotham Bold', sans-serif;
}

.navLink:hover {
  color: #26cbac;
  text-decoration: none;
  font-family: 'Gotham Bold', sans-serif;
}

.signUpLink {
  color: #fff;
  font-family: 'Gotham Bold', sans-serif;

  border: 3px solid #feff39;
  border-top: none;
  border-left: none;
  border-right: none;

  padding-bottom: 10px;
}

.signUpLink:hover {
  color: #26cbac;
  text-decoration: none;
  font-family: 'Gotham Bold', sans-serif;
}

.logo {
  margin-top: 50px;
  margin-left: 75px;
}